.root {
  position: relative;
}

.container {
  position: relative;
  width: var(--max-content-width);
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  margin-right: -10px;
  margin-left: -10px;
}

.col {
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  width: 20%;
}

.threeCol {
  flex: none;
  align-self: stretch;
  position: relative;
  width: calc((3 / var(--grid-column-count)) * 100%);
  padding-right: 10px;
  padding-left: 10px;
}

.fourCol {
  flex: none;
  align-self: stretch;
  position: relative;
  width: calc((4 / var(--grid-column-count)) * 100%);
  padding-right: 10px;
  padding-left: 10px;
}

.sixCol {
  flex: none;
  align-self: stretch;
  position: relative;
  width: calc((6 / var(--grid-column-count)) * 100%);
  padding-right: 10px;
  padding-left: 10px;
}

.eightCol {
  flex: none;
  align-self: stretch;
  position: relative;
  width: calc((8 / var(--grid-column-count)) * 100%);
  padding-right: 10px;
  padding-left: 10px;
}

/**
 * Loader
 */

 .loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 999;
}

.loader .loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 119px;
  margin: 0 auto;
  -webkit-transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader .loaderWrapper .logo {
  display: block;
  max-width: 100%;
}

.loader .loaderWrapper .logo path {
  -webkit-animation: randomColor .5s ease-in-out infinite;
  -moz-animation: randomColor .5s ease-in-out infinite;
  animation: randomColor .5s ease-in-out infinite;
}

.loader.show {
  opacity: 1;
  visibility: visible;
}

.loader.hide {
  opacity: 0;
}

@-webkit-keyframes randomColor {
  0% {
    fill: #F8DB65;
  }
  20% {
    fill: #73E4B2;
  }
  40% {
    fill: #827AF9;
  }
  60% {
    fill: #FB74D2;
  }
  80% {
    fill: #FA675D;
  }
  100% {
    fill: #51EFE8;
  }
}

@-moz-keyframes randomColor {
  0% {
    fill: #F8DB65;
  }
  20% {
    fill: #73E4B2;
  }
  40% {
    fill: #827AF9;
  }
  60% {
    fill: #FB74D2;
  }
  80% {
    fill: #FA675D;
  }
  100% {
    fill: #51EFE8;
  }
}

@keyframes randomColor {
  0% {
    fill: #F8DB65;
  }
  20% {
    fill: #73E4B2;
  }
  40% {
    fill: #827AF9;
  }
  60% {
    fill: #FB74D2;
  }
  80% {
    fill: #FA675D;
  }
  100% {
    fill: #51EFE8;
  }
}
